<link href="CSS/login.css" rel="stylesheet" type="text/css" />

<div class="lg-wraper">
    <div class="lg-container">
    	<form name="formLogIn" onSubmit="lg_submit(); return false;">
        	<div>
                <input id="lg-user-input" name="lg-user-input" type="text" placeholder="usuario" required="required"/>
            </div>
            <div>
                <input id="lg-pass-input" name="lg-pass-input" type="password" placeholder="contraseña" required="required"/>
            </div>
            <button id="lg-submit" type="submit">Entrar</button>
        </form>
    </div>
</div>