.titlemedianaranja{
color:orange;
font-size: 40px;
line-height: 42px;
position: absolute;
top: 50%;
right: 0;
margin-top: -21px;
padding-left: 45px;
}
.imgMediaNaranja {
content: '';
margin: 60px 0 15px 0;
width: 100%;
height: 150px;
background-image: url(../IMG/logo-medianaranja.png);
background-size: contain;
background-position: center center;
background-repeat:no-repeat;
}

#subTitleMediaNaranja {
content: ''; 
position: absolute;
right: 0;
top: 50%; 
margin-top: -20px;
width: 320px; 
height: 40px; 
background-image: url(../IMG/logo-medianaranja_linea.png);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
display:none;
}

.textoMediaNaranja{
font-size: 35px;
font-weight: 300;
text-align:center;
padding: 30px 0 40px 0;
margin: 0 auto;
max-width: 680px;
color: #555;
line-height: 40px;
}

.surveyProgressContainer {
width: 100%;
height: 40px;
margin: 10px 0;
position: relative;
border-radius: 0; 
border-bottom: 0;
overflow: hidden;
}

.surveyProgressItemContainer {
display: inline-block; 
position: relative; 
}

.surveyProgressItem {
height: 40px;

width: 50%;

border-radius: 5px;
background-color: #dfdfdf;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
display: inline-block;
z-index: 100;
position: relative;
transition:all 300ms;
}

.surveyProgressItem.selected {
background-color: #4BAAC9;
transition:all 300ms;
}

.surveyProgressInactive {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 2px;
margin: 20px 20px;
border-top: 2px solid #ddd;
z-index: 10;
}

.surveyProgressActive {
position: absolute;
top: 0;
left: 0;
right: 100%;
height: 2px;
margin: 20px 20px;
border-top: 2px solid #8bc;
z-index: 11;
transition:all 300ms;
}

.surveyContainer {
width: 100%;
background-color: #fff;
border: 1px solid #eee;
border-top: 0;
text-align: center;
position: relative;
border-radius: 5px;
overflow: hidden;
}

.loadingPanel {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 200;
background-color: rgba(255,255,255,.2);
display:none;
}

.surveyHeader {
border-bottom: 3px solid rgba(0,0,0,.2);
text-align: center;
padding: 7px;
}

.surveyHeaderTitle {
font-size: 35px;
font-weight: 600;
color: #fff;
text-shadow: 0px 1px 2px rgba(0,0,0,.4);
}

.surveyTitle {
text-align: left;
padding: 7px 40px;
font-size: 25px;
color: rgb(16, 156, 191);
font-weight: 400;
border-top: 1px solid rgb(238, 238, 238);
}

.surveyItemsContainer{
padding: 0 40px;
}

.surveyItem {
width: 100%;
margin: 10px auto;
padding: 5px 10px;
line-height: 20px;
background-color: #f5f5f5;
border: 1px solid #eee;
cursor: pointer;
text-align:left;
position: relative;
transition: all 300ms;
}

.surveyItem:hover {
border-color: rgba(255, 165, 0, 0.5);
background-color: rgba(255, 165, 0, 0.2);
transition: all 300ms;
}

.surveyItem.selected {
background-color: rgba(255, 165, 0, 0.6) !important;
border: 1px solid rgba(255, 165, 0, 0.47) !important;
color: #fff;
}

.surveyItem div {
list-style: none;
margin: 7px 0;
padding-left: 21px;
position: relative;
background-image: url(../IMG/propuestaIcon.png); 
background-size: 15px 15px;
background-repeat: no-repeat;
background-position: 0 3px;
transition: background-image 10ms;
}

.surveyItem.selected > div {
background-image: url(../IMG/propuestaIcon_white.png);
color: #fff;
}

.surveyFooter{
border-top: 1px solid #eee;
text-align: center;
padding: 10px;
}

.surveyButton{
padding: 10px 30px;
border-radius:3px;
background: orange;
border: 1px solid rgba(0,0,0,.2);
color: #fff;
font-size:20px;
position:relative;
display: inline-block;
cursor:pointer;
transition:all 300ms;
border-bottom: 3px solid rgba(0,0,0, .2);
}

#startContainer .surveyButton {
padding: 20px 60px;
border-radius: 33px;
margin: 30px 0 100px 0;
}
.surveyButton:hover{
background-color: #f6f6f6 !important;
color: orange;
transition:all 300ms;
}

.surveyButton.End{
padding-left: 45px;
display: none;
}
.surveyButton.End:before{
content:'';
width: 25px;
height: 25px;
position:absolute;
left:10px;
top: 50%;
margin-top: -12.5px;
background-image: url(../IMG/orange_hover.png);
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.surveyButton.Todas{
display: block;
background-color: #169CBF;
padding: 10px;
box-shadow: none;
font-size: 19px;
margin: 0 20px 20px 20px;
bottom: 0;
position: absolute;
margin: -100px auto;
width: 100%;
}
.surveyButton.Todas:hover{
color:#169CBF;
}

.surveyNoSelection {
position: absolute;
padding: 11px 20px;
font-size: 17px;
color: white;
background-color: rgba(255, 0, 0, 0.5);
border: 1px solid red;
}

.surveyItem.noProp {
border-color: red;
color: red;
padding: 10px 15px;
}

.surveyButton.final{
	opacity:0;
}

.candidatosNoPropuestas {
text-align: center;
padding: 0 10px 10px 40px;
}

.candidatosNoPropuestasContainer {
margin: 5px;
}

.candidatosNoPropuestasContainer .candidatoContainer{ 
width: auto; 
min-width: 0;
text-align: left; 
border: 1px solid;
border-radius: 20px;
background: none;
opacity: 1 !important;
box-shadow: none !important;
cursor: default;
margin: 5px 5px 0 0;
padding: 0 10px 0 0;
}

.accentText{
color:red;
}

.title.ganador {
color: orange;
font-weight: 300;
margin: 0;
margin: 10px 0 20px 0;
line-height: 80px;
font-size: 60px;
text-align: center;
}

.resultadoContainer {
background-color: #fdfdfd;
/* border: 1px solid #ddd; */
margin: 0 0 20px 0;
text-align: left;
position: relative;
border-radius: 3px;
opacity:0;

/* display:none; */
transition: all 900ms;
display: inline-block;
vertical-align: top;
box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}

.porcentajeContainer {
font-size: 25px;
display: inline-block;
position: absolute;
right: 0;
top: 0;
bottom: 0;
line-height: 48px;
color: #444;
font-weight: 400;
background-color: #fff;
border-radius: 0 3px 3px 0;
padding: 5px 5px;
width: 95px;
height: 45px;
text-align: center;
vertical-align: top;
border-left: 1px solid #ddd;
}

.resultadoContainerGanador {
width: 290px; 
height: 460px;
background-color: #fff;
border: 1px solid #ddd; 
border-radius: 5px;
text-align: left; 
padding: 0;
position: absolute; 
display: inline-block;
vertical-align: top;
opacity: 0;
z-index: 10;
left: 50%;
margin-left: -155px;
}
.resultadoContainerGanador .porcentajeContainer {
position: relative;
left: 0;
font-size: 25px;
font-weight: 600;
line-height: 40px;
padding: 5px 10px;
width: 100%;
height: auto;
text-align: right;
border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;
background-color: #fff;
}

.porcentajeContainer:before {
content: 'Afinidad'; display: block;
position: absolute; left: 0; top: 0; width: 100%; font-size: 13px; font-weight: 400; margin-top: 2px; text-align: center;
line-height: 15px;
}

.resultadoContainerGanador .porcentajeContainer:before {
font-size: 25px;
line-height: 47px;
font-weight: 300;
text-align: left;
margin-left: 10px;
width: auto;
}

.afinidadCategorias {
position: relative;
display: block;
padding: 3px;
padding-left: 110px;
line-height: 24px;
z-index: 1;
text-align: left;
vertical-align: top;
width: 100%;
text-align: right;
}

.afinidadCategorias:before {
content: 'Categorías afines';
display: block;
position: absolute;
left: 0;
top: 0;
font-size: 13px; font-weight: 400; 



padding: 0 4px; 
text-align: left;
line-height: 30px;
}

.afinidadCategoria {
width: 23px;
height: 23px;
border-radius: 3px;
background-color: #ddd;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
display: inline-block;
margin: 1px 1px 0 1px;
position: relative;
}

.afinidadCategoriaTooltip{
position:absolute;
left: -35px;
width: 90px;
top: 100%;
margin: 1px 0;
background-color: #fff;
border-radius: 25px;
padding: 2px 10px;
text-align: center;
font-size: 12px;
line-height: 15px;
display: none;
transition: all 100ms;
color: #fff;
box-shadow: 0 1px 2px rgba(0,0,0,.5);
text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.resultadoContainerGanador .afinidadCategoriaTooltip {
font-size: 15px;
width: 110px;
line-height: 20px;
}

.afinidadCategoriaTooltip:hover {
display: none !important;
}

.afinidadCategoria:hover > .afinidadCategoriaTooltip {
display: block;
transition: all 100ms;
}

.noAfinidadCategoria {
font-size: 15px;
line-height: 24px;
font-weight: 600;
color: red;
}

.resultadoContainerGanador .afinidadCategoria {
width: 39px;
height: 39px;
border-radius: 3px;
margin: 1px 1px;
}

.resultadoContainerGanador .afinidadCategorias {
position: relative;
margin: 0;
width: 100%;
right: 0;
border: none;
height: auto;
text-align: center;
padding: 3px;
padding-top: 30px;
padding-bottom: 10px;
background-color: #fff;
}
.resultadoContainerGanador .afinidadCategorias:before {
padding: 5px 0;
font-size:20px;
font-weight:300;
width: 100%;
background-color: white;
line-height: 15px;
text-align: center;
}

.chartContainer {
display: inline-block; vertical-align: top; 
height: 270px;
width: 270px;
position: relative;
margin: 20px 0;
margin-right: 50px;
text-align: center;
}

.orangeChart{
position:absolute;
background-image: url(../IMG/orange.png);
background-position: center;
background-repeat: no-repeat;
background-size: 70px 70px;
left: 50%;
top:50%;
width: 100px;
height: 100px;
margin: -50px 0 0 -50px;
z-index: 0;
opacity: 0;
}

.noOrange {
background-image: url(../IMG/noOrange.png);
background-position: center;
background-repeat: no-repeat;
background-size: 80px 80px;
height: 80px;
margin: 45px 0 10px 0;
}
.enunciadoNoAfinidad {
font-size: 25px;
font-weight: 300;
color: red;
text-align: center;
padding: 10px 35px;
}

.candidatoContainerGanador {
position: relative;
background-color: #fff;
text-align: center;
padding: 0 0 10px 0;
}

.perdedoresContainer {
display: inline-block;
position: absolute;
right: 0;
vertical-align: top;
margin: 0;
width: 340px;
}

.shareContainer{
position: absolute;
bottom: 0;
width: 100%;
text-align:center;
}

.finalPartido {
  margin-top: 20px;
  color: #169CBF;
  font-size: 30px;
  line-height: 30px;
}
.enunciadoNoAfinidad a {
    color: #169CBF;
    font-weight: 600;
    font-size: 28px;
    border-bottom: 2px dotted;
    text-decoration: none;
}

.enunciadoNoAfinidad .logo {
    display: block;
    margin: 5px auto -8px auto;
}

/*Rating bar*/

.surveyRatingContainer {
position: relative;
}

.ratingContainer {
display: inline-block;
position: absolute;
right: 40px;
top: 50%;
margin-top: -15px;
}

.br-widget {
height: 30px;
}
.br-widget a {
display: inline-block;
width: 40px;
height: 30px;
background-color: #C7E4EE;
margin: 1px;
}
a.br-active,
.br-widget a.br-selected {
background-color: #109CBF;
}
.br-widget .br-current-rating {
clear: both;
text-align: right;
font-weight: 600;
color: #109CBF;
display: inline-block;
line-height: 30px;
vertical-align: top;
margin: 0 10px 0 0;
float: left;
}
.br-readonly a.br-active,
.br-readonly a.br-selected {
background-color: #50e3c2;
}



@media (max-height: 800px){
.title.ganador{
margin-top: 0;
}
}

@media (max-width: 960px){
.resultadoContainerGanador{
left:0;

position: relative;
zoom: 1 !important;
}

.perdedoresContainer {
position: relative;
/* width: 100%; */
margin-top: 20px;
}
.chartContainer{
padding: 30px 60px;
}
}

@media (max-width: 860px){
#subTitleMediaNaranja{
background-image: url(../IMG/logo-medianaranja_linea_reducido.png);
width: 155px;
}
}

@media (max-width: 600px){
.textoMediaNaranja {
font-size: 25px;
line-height: 30px;
padding: 20px 30px;
}
#startContainer .surveyButton {
padding: 30px 40px;
border-radius: 100px;
}

.ratingContainer {
position: relative; 
margin: 5px;
right: 0;
left: 0;
}

.br-widget .br-current-rating {
display: block;
float: none;

text-align: center;
clear: none;
margin: 0;
}

.br-widget {
height: auto;
}

.br-widget a {
height: 40px;
}

.surveyTitle {
text-align: center;
}

.candidatosNoPropuestas {
padding: 10px;
}

.surveyItemsContainer {
padding: 0 20px;
}


.candidatosNoPropuestasHeader {
font-size: 19px;
}

.surveyButton {
padding: 20px 40px;
}

.chartContainer {
width: 100%;

margin: 0;
padding: 0;
}

.chartContainer:before {
margin: -40px 0 0 -50px;
}

.resultadoContainerGanador {
width: 80%;

height: 385px;
}

.porcentajeContainer {
}

.afinidadCategorias {
}
}

@media (max-width: 320px){
.imgMediaNaranja {
height: 100px;
}
#startContainer .surveyButton {
font-size:17px;
}
}